<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="skeletonami.css" />
</head>
<body>
    <div class="fullContainer">
    </div>
    <div class="secondContent">
        <h1>Here are our books for</h1>
        <p><%= name1 %>, <%= gender %></p>
    </div>
</body>
</html>
